@inject Microsoft.AspNetCore.Mvc.IUrlHelper UrlHelper
@model List<Gallery.Entity.Product>
@{
    Layout = "_LayoutNavFoot";
}

@section style {
    <style>
        .product-image {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }
        .product-card {
            margin-bottom: 30px;
        }
        .card-body {
            min-height: 200px; /* Kartların minimum yüksekliğini ayarlıyoruz */
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .btn-with-icon {
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }
        .btn-with-icon img {
            margin-left: 10px; /* Ikon ile metin arasına boşluk ekleyin */
            width: 20px; /* Ikonun genişliğini ayarlayın */
            height: 20px; /* Ikonun yüksekliğini ayarlayın */
        }
    </style>
}


<div class="container" style="margin-top: 90px;">
    @if (Model == null || !Model.Any())
    {
        <div class="noProduct" style="text-align: center; background-color: rgb(215, 246, 250);  margin-bottom: 250px; padding: 50px;
        border-radius: 5%;">
            <h2>Ürünler pek yakında yüklenecektir..</h2>
        </div>
    }
    else
    {
        <div class="row">
            @foreach (var product in Model)
            {
                <div class="col-md-3">
                    <div class="card product-card">
                        <!-- @{
                            if (product.VideoUrl != null)
                            {
                                <video controls class="card-img-top product-image">
                                    <source src="@Url.Content(product.VideoUrl)" type="video/mp4">
                                    Tarayıcınız videoyu desteklemiyor.
                                </video>
                            }
                        } -->
                        
                        @{
                            if (product.Images != null)
                            {
                                <img src="@Url.Content(product.Images.FirstOrDefault()?.Url)" class="card-img-top product-image" alt="@product.Name" />
                            }
                        }
                        <!-- @{
                            if (product.Images != null)
                            {
                                <video controls class="card-img-top product-image">
                                    <source src="@Url.Content(product.VideoUrl)" type="video/mp4">
                                    Tarayıcınız videoyu desteklemiyor.
                                </video>
                            }
                        } -->
                        
                        
                        <div class="card-body">
                            @{
                                if(product.Name != null)
                                {
                                    <h2 class="card-title">@product.Name</h2>
                                }
                            }
                            
                            @{
                                if(product.Description != null)
                                {
                                    if (product.Description.Length > 20)
                                    {
                                        <p class="card-text">@Html.Raw(product.Description.Substring(0, 20))...</p>
                                    }
                                    else
                                    {
                                        <p class="card-text">@product.Description</p>
                                    }
                                }
                            }
                            
                            @{
                                if(product.Amount != null)
                                {
                                    <p class="card-text"><strong>@product.Amount TL</strong></p>
                                }
                            }
                            
                            @{
                                var productName = product.Name ?? string.Empty;
                                var productDescription = product.Description ?? string.Empty;
                                var productUrl = UrlHelper.Action("Details", "Product", new { id = product.ProductId }, protocol: Context.Request.Scheme);
                                var message = $"\"{productName}\" adlı ve \"{productDescription}\" açıklamalı ürününüzü almak istiyorum. Bilgi verir misiniz? Ürün linki: {productUrl}";
                                var encodedMessage = Uri.EscapeDataString(message);
                                var whatsappUrl = $"https://wa.me/+905435068162?text={encodedMessage}";
                            }
                            <a href="@whatsappUrl" class="btn btn-success btn-with-icon" target="_blank">Mesaj Gönder
                                <img src='@Url.Content("~/assets/wpicon.png")' alt="WhatsApp Icon" >
                            </a>
                            
                            <br>
                            
                            <a asp-action="Details" asp-controller="Product" asp-route-id="@product.ProductId"class="btn btn-primary btn-with-icon">İncele
                                <img src='@Url.Content("~/assets/details.png")' alt="WhatsApp Icon" >
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    
</div>


@section script {
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
}
  
    