@model List<Gallery.Entity.Product>
@{
    Layout = "_LayoutNavFoot";
}

@section style {
    <style>
        .product-image {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }
        .product-card {
            margin-bottom: 30px;
        }
        .card-body {
            min-height: 200px; /* Kartların minimum yüksekliğini ayarlıyoruz */
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    </style>
}


<div class="container" style="margin-top: 90px;">
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-md-3">
                <div class="card product-card">
                    @{
                        if (product.Images != null)
                        {
                            <img src="@Url.Content(product.Images.FirstOrDefault()?.Url)" class="card-img-top product-image" alt="@product.Name" />
                        }
                    }
                    
                    <div class="card-body">

                        @{
                            if(product.Name != null)
                            {
                                <h5 class="card-title">@product.Name</h5>
                            }

                        }
                        


                            @{
                                
                                if(product.Description != null)
                                    {
                                        if (product.Description.Length > 20)
                                                {
                                                    <p class="card-text">@Html.Raw(product.Description.Substring(0, 20))...</p>
                                                }
                                                else
                                                {
                                                    <p class="card-text">@product.Description</p>
                                                }
                                    }
                                                
                                }

                                @{
                                    if(product.Amount != null)
                                    {
                                        <p class="card-text"><strong>@product.Amount</strong></p>
                                    }

                                }
                        
                        <a href="#" class="btn btn-primary">İncele</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


@section script {
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
}
  
    <!-- <div class="container" style="margin-top: 50px;">
        
            <h1>Ürünler Listesi</h1>
            
            <div class="row" style="margin-bottom:150px; margin-top:50px; margin-left:15px;">
                @foreach (var product in Model)
                {               
                        <div class="card box-shadow" style="margin-bottom: 50px;">
                            <div class="col-md-4" style="height: 400px; width: 300px; margin-top:15px; padding:15px">
                            
                                @{
                                    if (product.Images != null)
                                    {
                                        <div class="imagem">
                                            <img class="card-img-top" src="@Url.Content(product.Images.FirstOrDefault()?.Url)" alt="" style="object-fit: fill;"> 
                                        </div>
                                    }
                                    else
                                    {
                                        <p>Resim Yok.</p>
                                    }
                                }
                            
                                <div class="card-body">
                                    <h5 class="card-title">

                                        @{
                                            if(product.Name != null)
                                            {
                                                if (product.Name.Length > 20)
                                                {
                                                <p class="card-text">@Html.Raw(product.Name.Substring(0, 20))...</p>
                                                }
                                                else
                                                {
                                                <p class="card-text">@product.Name</p>
                                                }
                                            }else{
                                                <span>YOOOKK</span>
                                            }
                                        }
                                    </h5>
                                    @{
                                        if(product.Description != null)
                                        {
                                            if (product.Description.Length > 20)
                                            {
                                                <p class="card-text">@Html.Raw(product.Description.Substring(0, 20))...</p>
                                            }
                                            else
                                            {
                                                <p class="card-text">@product.Description</p>
                                            }
                                        }else{
                                        <span>_</span>
                                        }
                                    }
                                </div>

                                <div class="card-footer">
                                    @{
                                        if(product.Amount != null)
                                        {
                                        <p class="card-text">@product.Amount</p>
                                        }else{
                                        <span>_</span>
                                        }
                                    }
                                    <div>
                                        <a asp-action="Details" asp-controller="Product" asp-route-id="@product.ProductId" class="btn btn-primary">Detaylar</a>
                                    </div>
                                </div>                          
                            </div> 
                        </div>

                }
            </div>
    </div> -->